<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>DustyBot – Connect</title>
    <link rel="stylesheet" href="~/css/connect.css" />
</head>
<body>
    <div class="centered">
        @RenderBody()
    </div>
</body>
</html>
