<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="New Rule Set" Description=" " ToolsVersion="16.0">
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp.Features" RuleNamespace="Microsoft.CodeAnalysis.CSharp.Features">
    <Rule Id="IDE0021" Action="None" />
    <Rule Id="IDE0022" Action="None" />
    <Rule Id="IDE0023" Action="None" />
    <Rule Id="IDE0024" Action="None" />
    <Rule Id="IDE0025" Action="None" />
    <Rule Id="IDE0026" Action="None" />
    <Rule Id="IDE0027" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeQuality.Analyzers" RuleNamespace="Microsoft.CodeQuality.Analyzers">
    <Rule Id="CA1031" Action="None" />
    <Rule Id="CA1056" Action="None" />
    <Rule Id="CA1062" Action="None" />
    <Rule Id="CA2007" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.NetCore.Analyzers" RuleNamespace="Microsoft.NetCore.Analyzers">
    <Rule Id="CA1308" Action="None" />
  </Rules>
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA0001" Action="None" />
    <Rule Id="SA1028" Action="None" />
    <Rule Id="SA1101" Action="None" />
    <Rule Id="SA1116" Action="None" />
    <Rule Id="SA1122" Action="None" />
    <Rule Id="SA1128" Action="None" />
    <Rule Id="SA1133" Action="None" />
    <Rule Id="SA1200" Action="None" />
    <Rule Id="SA1201" Action="None" />
    <Rule Id="SA1204" Action="None" />
    <Rule Id="SA1309" Action="None" />
    <Rule Id="SA1314" Action="None" />
    <Rule Id="SA1407" Action="None" />
    <Rule Id="SA1413" Action="None" />
    <Rule Id="SA1500" Action="None" />
    <Rule Id="SA1502" Action="None" />
    <Rule Id="SA1503" Action="None" />
    <Rule Id="SA1516" Action="None" />
    <Rule Id="SA1600" Action="None" />
    <Rule Id="SA1601" Action="None" />
    <Rule Id="SA1602" Action="None" />
    <Rule Id="SA1611" Action="None" />
    <Rule Id="SA1615" Action="None" />
    <Rule Id="SA1618" Action="None" />
    <Rule Id="SA1633" Action="None" />
    <Rule Id="SX1101" Action="Warning" />
    <Rule Id="SX1309" Action="Warning" />
  </Rules>
</RuleSet>