<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
	<add key="Disqord MyGet" value="https://www.myget.org/F/disqord/api/v3/index.json" />
	<add key="Dependencies" value="https://pkgs.dev.azure.com/Yeba/DustyBot/_packaging/Dependencies/nuget/v3/index.json" />
  </packageSources>
</configuration>